<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Museu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Museu Histórico de Araranguá</h1>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="cadastrovisitas/" class="btn btn-success">Cadastro de Visitas</a>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="cataloga/" class="btn btn-success">Catalogação de Peças</a>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="formescola/" class="btn btn-success">Cadastro de Escolas</a>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="formfuncionario/" class="btn btn-success">Cadastro de Funcionários</a>
    </div>

</body>
</html>